<div class="container text-center">
    <div class="mx-auto d-flex flex-column">
        <img src="/images/dog-error.png" alt="" class="img-fluid w-75 mx-auto">
        <div class="card-body">
            <h1 style="font-size: 5rem">{{status}}</h1>
            <h2>{{message}}</h2>
            <a href="/" class="btn btn-primary my-3">Home</a>


        </div>
    </div>
</div>